---
version: '3'

include:
  - ../common.yml

services:
  adapter-openai:
    image: epam/ai-dial-adapter-openai:0.6.0
    environment:
      WEB_CONCURRENCY: "3"

  assistant:
    image: epam/ai-dial-assistant:0.5.0
    environment:
      OPENAI_API_BASE: "http://core:8080"
      WEB_CONCURRENCY: "3"

  addon:
    build: addon