---
version: '3'

include:
  - path: ../dial-docker-compose/common.yml
    env_file: ./.env

services:
  echo:
    build: ../dial-sdk/examples/echo

  image-size:
    build: ../dial-sdk/examples/image_size
    environment:
      'DIAL_URL': 'http://core:8080'

  render-text:
    build: ../dial-sdk/examples/render_text
    environment:
      'DIAL_URL': 'http://core:8080'