include:
  - path: ../docker-compose.yml
    env_file: ./.env

services:
  test:
    build: test
    environment:
      "DIAL_URL": "http://core:8080"
    depends_on:
      echo:
        condition: service_started
      image-size:
        condition: service_started
      render-text:
        condition: service_started
      core:
        condition: service_healthy
    volumes:
      - ../examples:/opt/examples
