include:
  - path: ../../model/docker-compose.yml
    env_file: ./.env

services:
  azure_deployment_host:
    build: azure_deployment_mock
    environment:
      API_KEY: AZURE_MODEL_API_KEY

  test:
    build: test
    environment:
      DIAL_URL: "http://core:8080"
      DIAL_API_KEY: "dial_api_key"
      DIAL_API_VERSION: "2024-02-01"
    depends_on:
      adapter-openai:
        condition: service_started
      azure_deployment_host:
        condition: service_started
      core:
        condition: service_healthy
