/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5a8ce9;
  --ifm-color-primary-dark: #5a8ce9;
  --ifm-color-primary-darker: #5A8CE98;
  --ifm-color-primary-darkest: #5a8ce9;
  --ifm-color-primary-light: #5a8ce9;
  --ifm-color-primary-lighter: #5a8ce9;
  --ifm-color-primary-lightest: #5a8ce9;
  --ifm-link-color: #5a8ce9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: #f4f7fb;
  --ifm-footer-padding-vertical: 1.25rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5a8ce9;
  --ifm-color-primary-dark: #5a8ce9;
  --ifm-color-primary-darker: #5a8ce9;
  --ifm-color-primary-darkest: #5a8ce9;
  --ifm-color-primary-light: #5a8ce9;
  --ifm-color-primary-lighter: #5a8ce9;
  --ifm-color-primary-lightest: #5a8ce9;
  --ifm-link-color: #5a8ce9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #02050a;
}

.medium-zoom-image--opened,
.medium-zoom-overlay {
  z-index: 300 !important;
}

@media screen and (min-width: 1367px) and (max-width: 1920px) and (max-height: 1080px) {
  .medium-zoom-image--opened[alt='max-zoom'] {
    width: 93% !important;
    left: 45px !important;
    height: auto !important;
    max-width: 1808px !important;
  }
}

.docusaurus-ignore {
  display: none;
}

.navbar__logo {
  padding: 0.25rem 0 0.25rem 0;
}

.iframe-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.icon-bg {
  fill: var(--ifm-footer-background-color);
}

.footer .container {
  max-width: 100%;
}

.footer .footer__links {
  justify-content: space-between;
  margin: 0;
}

.footer .col {
  padding: 0;
}
.footer .col:nth-of-type(2) .footer__items {
  justify-content: center;
  color: var(--ifm-footer-link-color);
}

.footer .col:nth-of-type(3) .footer__items {
  justify-content: flex-end;
}

.footer .footer__items {
  flex-direction: row;
  display: flex;
  gap: 2rem;
}
