name: PR workflow

on:
  pull_request:
    branches:
      - main

jobs:
  run-notebooks:
    name: Cookbook notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - uses: isbang/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        with:
          cwd: "./dial-cookbook/ci"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-model:
    name: Quickstart model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: isbang/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        name: Run quickstart model example
        with:
          cwd: "./dial-docker-compose/ci/model"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-application:
    name: Quickstart application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: isbang/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        with:
          cwd: "./dial-docker-compose/ci/application"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-addon:
    name: Quickstart addon
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: isbang/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        with:
          cwd: "./dial-docker-compose/ci/addon"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-self-hosted-model:
    name: Quickstart self-hosted model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: isbang/compose-action@8be2d741e891ac9b8ac20825e6f3904149599925 # v2.2.0
        with:
          cwd: "./dial-docker-compose/ci/ollama"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  build:
    needs:
      - run-notebooks
      - run-quickstart-model
      - run-quickstart-application
      - run-quickstart-addon
      - run-quickstart-self-hosted-model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 18
          cache: npm
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.11"
      - name: Install npm dependencies
        run: npm ci
      - name: Install docusaurus
        run: npm install --global docusaurus-init
      - name: Install quarto
        run: pip install "quarto-cli>=1.4,<2.0"
      - name: Build website
        run: npm run build
