name: PR workflow

on:
  pull_request:
    branches:
      - main

jobs:
  run-notebooks:
    name: Run example Python notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: true
      - uses: isbang/compose-action@802a148945af6399a338c7906c267331b39a71af # v2.0.0
        with:
          cwd: "./dial-cookbook/ci"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart:
    name: Run quickstart examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: isbang/compose-action@802a148945af6399a338c7906c267331b39a71af # v2.0.0
        name: Run quickstart model example
        with:
          cwd: "./dial-docker-compose/ci/model"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@802a148945af6399a338c7906c267331b39a71af # v2.0.0
        name: Run quickstart application example
        with:
          cwd: "./dial-docker-compose/ci/application"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@802a148945af6399a338c7906c267331b39a71af # v2.0.0
        name: Run quickstart addon example
        with:
          cwd: "./dial-docker-compose/ci/addon"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  build:
    needs: [run-notebooks, run-quickstart]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
          cache: npm
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: "3.11"
      - name: Install npm dependencies
        run: npm ci
      - name: Install docusaurus
        run: npm install --global docusaurus-init
      - name: Install quarto
        run: pip install "quarto-cli>=1.4,<2.0"
      - name: Build website
        run: npm run build
