name: PR workflow

on:
  pull_request:
    branches:
      - main

jobs:
  run-notebooks:
    name: Run example Python notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: true
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        with:
          compose-file: "./dial-cookbook/ci/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart:
    name: Run quickstart examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart model example
        with:
          compose-file: "./dial-docker-compose/ci/model/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart application example
        with:
          compose-file: "./dial-docker-compose/ci/application/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart addon example
        with:
          compose-file: "./dial-docker-compose/ci/addon/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  build:
    needs: [run-notebooks, run-quickstart]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
          cache: npm
      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: "3.11"
      - name: Install npm dependencies
        run: npm ci
      - name: Install docusaurus
        run: npm install --global docusaurus-init
      - name: Install quarto
        run: pip install "quarto-cli>=1.4,<2.0"
      - name: Build website
        run: npm run build
