name: Release workflow

on:
  push:
    branches:
      - main

jobs:
  run-notebooks:
    name: Run example Python notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          submodules: true
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        with:
          compose-file: "./dial-cookbook/ci/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart:
    name: Run quickstart examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart model example
        with:
          compose-file: "./dial-docker-compose/ci/model/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart application example
        with:
          compose-file: "./dial-docker-compose/ci/application/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"
      - uses: isbang/compose-action@178aeba5c9dbeed89ffffbb3e6548ec08e9839cf # v1.5.1
        name: Run quickstart addon example
        with:
          compose-file: "./dial-docker-compose/ci/addon/docker-compose.yml"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  build-and-deploy:
    needs: [run-notebooks, run-quickstart]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
          cache: npm
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: "3.11"
      - name: Install npm dependencies
        run: npm ci
      - name: Install docusaurus
        run: npm install --global docusaurus-init
      - name: Install quarto
        run: pip install "quarto-cli>=1.4,<2.0"
      - name: Build website
        run: npm run build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: ai-dial-actions
          user_email: 149404362+ai-dial-actions@users.noreply.github.com
