name: Release workflow

on:
  push:
    branches:
      - main

jobs:
  run-notebooks:
    name: Cookbook notebooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          cwd: "./dial-cookbook/ci"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"


  run-quickstart-model:
    name: Quickstart model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        name: Run quickstart model example
        with:
          cwd: "./dial-docker-compose/ci/model"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-application:
    name: Quickstart application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          cwd: "./dial-docker-compose/ci/application"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-addon:
    name: Quickstart addon
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          cwd: "./dial-docker-compose/ci/addon"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  run-quickstart-self-hosted-model:
    name: Quickstart self-hosted model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: isbang/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          cwd: "./dial-docker-compose/ci/ollama"
          up-flags: "--abort-on-container-exit --exit-code-from test --timeout 300"

  build-and-deploy:
    needs:
      - run-notebooks
      - run-quickstart-model
      - run-quickstart-application
      - run-quickstart-addon
      - run-quickstart-self-hosted-model
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: npm
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.11"
      - name: Install npm dependencies
        run: npm ci
      - name: Install docusaurus
        run: npm install --global docusaurus-init
      - name: Install quarto
        run: pip install "quarto-cli>=1.4,<2.0"
      - name: Build website
        run: npm run build
        env:
          BASE_URL: ${{ vars.BASE_URL }}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.ACTIONS_BOT_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: ai-dial-actions
          user_email: 149404362+ai-dial-actions@users.noreply.github.com
